<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
</head>
<form action="#" th:action="@{/writerPage/addBook}" th:object="${book}" method="post">
    <table>
        <tr>
            <td><label for="name">Name</label></td>
            <td><input type="text" th:field="*{name}" name="name" id="name"></input></td>
        </tr>
        <tr>
            <td><label for="type">Type</label></td>
            <td><input type="text" th:field="*{type}" name="type" id="type"></input></td>
        </tr>
        <tr>
            <td><label for="descriprion">Description</label></td>
            <td><input type="text" th:field="*{descriprion}" name="descriprion" id="descriprion"></input></td>
        </tr>
        <tr>
            <td><label for="price">Price</label></td>
            <td><input type="text" th:field="*{price}" name="price" id="price"></input></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"></td>
        </tr>
    </table>
</form>
<form th:action="@{/writerPage/all}" method="get">
    <input type="submit" value="Sign Out"></form>
</body>
</html>
