<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Welcome!</h1>

<form th:action="@{/login}" method="get">
    <input type="submit" value="Login Staff"></form>
<!--<form th:action="@{/readers/all}" method="get">
    <input type="submit" value="Reader Page"></form>

&lt;!&ndash;<form th:action="@{/loginStaff}" method="get">
    <input type="submit" value="Login Staff"></form>&ndash;&gt;
<form th:action="@{/users/register}" method="get">
    <input type="submit" value="Register"></form>-->
</body>
</html>