<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Reader page</title>
    <style>
table, th, td{
    border: 1px solid black;
    border-collapse:collapse;
}
table,th,td{
    padding : 5px;
    text-align: left;
}
</style>
</head>
<table style="width:100%">
    <tr>
        <th>Id book</th>
        <th>Name</th>
        <th>Description</th>
        <td>Price</td>
        <td>Writer</td>
        <td>Rate</td>
        <th>Reviews</th>
        <th>Delete book</th>
    </tr>
    <tbody>
    <tr th:if="${books.empty}" >
        <td colspan="2"> No products available</td>
    </tr>
    <tr th:each="book: ${books}">
        <td><span th:text="${book.id}">Id</span></td>
        <td><span th:text="${book.name}">Name</span></td>
        <td><span th:text="${book.descriprion}">Description</span></td>
        <td><span th:text="${book.price}">Price</span></td>
        <td><span th:text="${book.writer}">Writer</span></td>
        <td><span th:text="${book.rate}">Rate</span>
        </td>
        <td><form th:action="@{'/writerPage/feedback/'+ ${book.id}}" method="get">
            <input type="submit" value="See feedback"></form></td>
        <td><form th:action="@{'/writerPage/delete/'+ ${book.id}}" method="post">
            <input type="submit" value="Delete"></form></td>
    </tr>
    </tbody>
</table>
<p></p>
<p>
</p>
<form th:action="@{/writerPage/addBook}" method="get">
    <input type="submit" value="Add book"></form>
<form th:action="@{/}" method="get">
    <input type="submit" value="Back"></form>
</html>